<header class="absolute absolute left-0 right-0 top-0 z-20 bg-darkBlue">
    <div class="container mx-auto h-[70px] flex items-center text-white text-sm ">
        <div class="" id="burger"></div>
        <div id="icon"></div>
        <div class="flex justify-between w-full items-center">
            <nav class="flex justify-evenly gap-5">
                <div class="text-sm hover:text-lightBlue cursor-pointer">Movies <i class="inline-block mb-[1px] ml-1 p-[3px]  border-t-0 border-r-[3px] border-b-[3px] border-l-0 rotate-45"></i></div>
                <div class="text-sm hover:text-lightBlue cursor-pointer">TV Series <i class="inline-block mb-[1px] ml-1 p-[3px]   border-t-0 border-r-[3px] border-b-[3px] border-l-0 rotate-45"></i></div>
                <div class="text-sm hover:text-lightBlue cursor-pointer">TV Shows <i class="inline-block mb-[1px] ml-1 p-[3px]  border-t-0 border-r-[3px] border-b-[3px] border-l-0 rotate-45"></i></div>
                <div class="text-sm hover:text-lightBlue cursor-pointer">Anime<i class="inline-block mb-[1px] ml-1 p-[3px]  border-t-0 border-r-[3px] border-b-[3px] border-l-0 rotate-45"></i></div>
            </nav>
            <div class="flex gap-x-5">
                <div class="flex gap-x-32">
                    <input type="text" class="bg-transparent border-b-2 focus:border-lightBlue py-[2px] focus:outline-none " placeholder="Search...">
                </div>
                <div class="flex gap-15 items-center">
                    <div>
                        <a class="text-sm border text-center rounded-3xl px-4 py-1 border-white hover:bg-lightBlue hover:border-lightBlue transition-all ease-linear" href="#">Subscribe</a>
                    </div>
                    <div class="flex ml-5">
                        <a href="#" class="hover:text-lightBlue transition-all ease-linear">Login</a>
                    </div>
                </div>
            </div>
        </div>
  


        
    </div>
</header>
